<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title><%=title%></title>

		<link href="http://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet" />

        <!-- bower:js -->
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!-- endbower -->
        <!-- bower:css -->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
        <!-- endbower -->
        <!-- inject:js -->
        <script src="/js/AddMenu.js"></script>
        <script src="/js/clientOrder.js"></script>
        <script src="/js/userOrder.js"></script>
        <!-- endinject -->  
        <!-- inject:css -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/styles.css">
        <!-- endinject -->  
		<!-- The main CSS file -->

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<!-- Declare a new AngularJS app and associate the controller -->
	<body ng-app ng-controller="reciveOrders">

		<form>

			<h1>Menu</h1>
            <ul>
                <!-- Loop through the services array, assign a click handler, and set or
                    remove the "active" css class if needed -->
               <% for(var i=0;i<items.length;i++){ %>
                <li ng-click="removeOrder(item, $index)">
                    <!-- Notice the use of the currency filter, it will format the price -->
                    <%=items[i].title%>
                </li>
                <%}%>
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="addTodo()">Add Todo</button>

            </ul>
		</form>

		<!-- Include AngularJS from Google's CDN -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	</body>
</html>
